/* Exercice 1 - Sélecteurs de base */

#Selecteurs{
    width: 100%;
    margin: 20px;
}

#title{
    display: flex;
    align-items: center;
    color: red;
}

.text{
    display: flex;
    align-items: center;
    color: blue;
}

/* Exercice 2 - Selecteur universel */

#Selecteurs{
    box-sizing: border-box;
}

/* Exercice 3 - Selecteur descendant */

.container{
    color: green;
}

/* Exercice 4 - Selecteur enfant direct */

.container>p{
    color: red;
}

/* Exercice 5 - Selecteurs adjacents */

h2+p{
    display: flex;
    color: orange;
    justify-self: baseline;
    gap: inherit;
    font-size: medium;
}

/* Exercice 6 - Selecteurs generaux */

h2~p{
    display: grid;
    color: brown;
    align-items: center;
    gap: initial;
    font-size: medium;
}

/* Exercice 7 - Selecteurs d'attributs */

input[type="text"]{
    border: 2px solid blue;
    padding: 2px;
}

input[placeholder] {
  background-color: #f0f0f0;
  font-style: italic;
}

/* Exercice 8 - Pseudo-classes*/

ul li:hover {
    color:orange
    cursor pointer
}

ul li:first-child {
  font-weight: bold;
  color: blue;
}

ul li:last-child {
  text-decoration: underline;
  color: red;
}

/* Exercice 9 - nth-child (niveau intermédiaire)*/

ul li:nth-child(odd) {
  color: black;
}

ul li:nth-child(even) {
  color: gray;
}

/* Exercice 10 - Sélecteurs combinés (niveau avancé)*/

.card .description {
  color: blue;
}

p:not(.description) {
  font-style: italic;
}

.card p:nth-of-type(2) {
  font-weight: bold;
}

.card h3 {
  text-transform: uppercase;
}
